@* @model IEnumerable<prjHiJoMVCCore.Models.Swipe> *@
@model IEnumerable<prjHiJoMVCCore.ViewModels.CSwipeDisplayViewModel>

@{
    ViewData["Title"] = "配對管理";
}
@section Styles {
    <link rel="stylesheet" href="~/css/member-list.css" asp-append-version="true" />
}

<h1>配對管理</h1>
<p class="text-end">
    <a asp-action="Create" class="btn btn-primary">新增</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                滑動者
            </th>
            <th>
                被滑動者
            </th>
            <th>
               配對狀態
            </th>
            <th>
                建立時間
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
          
                <td>@item.SwiperName</td>
                <td>@item.TargetName</td>
                <td>@item.SwipesActionName</td>
                <td>@item.CreaTime?.ToString("yyyy-MM-dd HH:mm:ss")</td>
            <td>
                    <a asp-action="Edit" class="btn btn-secondary" asp-route-id="@item.Id">修改</a> |
                    <a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.Id">刪除</a>
            </td>
        </tr>
}
    </tbody>
</table>
